.book-card {
    width: 440px;
    height: 180px;
    padding: 28px 32px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: white;
    border-radius: 10px;
}

.book-card__title {
     font-weight: 700;
     font-size: 20px;
     line-height: 30px;
 }

.book-card__author {
     margin-top: 10px;
     font-size: 17px;
     line-height: 24px;
 }

.book-card__buttons {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

.book-card__btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
    border-radius: 12px;
}

.book-card__btn svg {
    width: 20px;
    height: 20px;
}

.book-card__btn svg:hover * {
    fill: #6DA7B6;
}