.login-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-bg-main;

    &__container {

    }
}

.login-form {
    max-width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 50px;
    border-radius: 10px;
    background-color: white;

    @include font-default(400, 15px, auto, black);

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }

    &__input {
        background: #FFFFFF;
        border: 1px solid #B1B1B1;
        border-radius: 12px;
        font-size: 20px;
        line-height: 30px;
        padding: 5px 20px;

        &::placeholder {
            color: #B1B1B1;
        }
    }

    &__btn-login {
        width: 100%;
        padding: 10px 0;
        background-color: #287F9A;
        color: white;
        border-radius: 12px;
        font-size: 20px;
        line-height: 30px;
    }
}